ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	border-right: 1px solid white;
}

li:last-child {
	border-right: none;
	border-left: 1px solid white;
}

li a {
	display: block;
	color: #dadada;
	text-align: center;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #41000a;
}

p {
	overflow: hidden;
}

body {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
}

* {
	box-sizing: border-box;
}

#HomeInfo {
	font-family: Fira Code;
	font-size: 16px;
	color: #dadada;
}

.navbar {
	overflow: hidden;
	background-color: #9d2235;
	font-family: Fira Code;
	border-radius: 8px;
}

.navbar a {
	float: left;
	font-size: 24px;
	color: #dadada;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: auto;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-size: 24px;
	border: none;
	outline: none;
	color: #dadada;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #c75969;
	box-shadow: 0px 8px 16px 0px rgba(201, 201, 201, 0.363);
	z-index: 1;
	min-width: 10%;
	text-align: center;
}

.dropdown-content a {
	float: none;
	color: #dadada;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #41000a;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 50%;
	padding: 1%;
}

.ghIcon img {
	width: 28px;
	height: 28px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 2px;
}

.name {
	color: #dadada;
	font-family: Fira Code;
	text-align: center;
	font-size: 42px;
	font-weight: bolder;
}

.subname {
	color: #c9c9c9;
	font-family: Fira Code;
	text-align: center;
	font-size: 22px;
}
.subname p {
	margin: 5px;
}
