ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.topButtons button {
	background-color: #9d2235;
	border: none;
	border-radius: 16px;
	color: #dadada;
	cursor: pointer;
	float: left;
	font-family: Fira Mono;
	font-size: 24px;
	margin: 4px 24px;
	padding: 15px 16px;
	text-align: center;
	transition-duration: 0.7s;
	width: 50%;
}

.topButtons {
	display: flex;
	justify-content: center;
}

.topButtons a{
	text-decoration: none;
	color: inherit;
}

button:hover {
	background-color: #491019; /* Green */
	color: white;
}

p {
	overflow: hidden;
}

body {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
}

* {
	box-sizing: border-box;
}

#HomeInfo {
	font-family: Fira Code;
	font-size: 16px;
	color: #dadada;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 50%;
	padding: 1%;
}

.ghIcon img {
	width: 28px;
	height: 28px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 2px;
}

.eIcon img {
	width: 34px;
	height: 24px;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 2px;
}

.name {
	color: #dadada;
	font-family: Fira Code;
	text-align: center;
	font-size: 42px;
	font-weight: bolder;
}

.subname {
	color: #c9c9c9;
	font-family: Fira Code;
	text-align: center;
	font-size: 22px;
}
.subname p {
	margin: 5px;
}

.headshot img{
	border-radius: 12px;
}